@model IEnumerable<MenuItem>

<h2>Menu Items</h2>

<div style="display: block">
    <a href="/MenuItem/InsertMenuItem/">Create a New Product</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
    </tr>

    @foreach (var menuItem in @Model)
    {
        <tr>
            <td><a href=/MenuItem/ViewMenuItem/@menuItem.MenuItemID>@menuItem.MenuItemID</a></td>
            <td>@menuItem.MenuItemName</td>
            <td>@menuItem.MenuItemPrice</td>
            <td>@menuItem.MenuItemCategory</td>
        </tr>
    }

</table>